name: PyPI package

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  build-publish:
    name: Build and publish package
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    # needed for publishing on PyPi with OIDC
    permissions:
      id-token: write
    steps:
        # checkout the repo
        - uses: actions/checkout@v4
          with:
            # fetch complete history because it's needed by Poetry
            fetch-depth: 0
        # setup python environment
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"
        - name: Install pypa/build
          run: python3 -m pip install --user build
        # build the package
        - name: Build package
          run: python3 -m build
        # on a regular push (not pull request) publish the package to test PyPI repo
        - name: Publish package distributions to TestPyPI
          if: github.event_name != 'pull_request'
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            repository-url: https://test.pypi.org/legacy/
        # on a release push publish the package to the regular PyPI repo
        - name: Publish package distributions to PyPI
          if: startsWith(github.event.ref, 'refs/tags')
          uses: pypa/gh-action-pypi-publish@release/v1
